@model IEnumerable<WebGitTrending.Models.TrendingModel.Item>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>GitHub Trending</h1>
    <p class="lead">Pressione o botão abaixo para buscar e gravar todos os repositórios destaques do GitHub.</p>
    <p><a href="@Url.Action("ReadGit", "Home")" class="btn btn-primary btn-lg">Buscar</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Repositórios em Destaque!</h2>
    </div>
</div>

<hr />

<div class="row" style="display:none;" id="divTable">
    <div class="col-lg-12">

        @Html.ValidationSummary(true)

        <table class="table table-striped" id="tblTrending">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Language</th>
                    <th>Stars</th>
                    <th>Watchers</th>
                    <th>Score</th>
                    <th>Description</th>
                </tr>
            </thead>
            @foreach (var d in Model)
            {
                <tbody>
                    <tr>
                        <td>@d.full_name</td>
                        <td>@d.language</td>
                        <td>@d.stargazers_count</td>
                        <td>@d.watchers</td>
                        <td>@d.score</td>
                        <td>@d.description</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <input type="submit" value="Listar" class="btn btn-success btn-lg" id="btnListar"/>
    </div>
</div>

@section Scripts
{
    <script  type="text/javascript" src="~/Scripts/Custom.js"></script>
}